{% extends 'company_profile/index.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Daftar Warga Binaan</h2><br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>No Registrasi</th>
                <th>Nama</th>
                <th>Pasal</th>
                <th>Hukuman</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- jinja2 Technique -->
            {% if d %}
            {% for i in d %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.no_reg}}</td>
                <td>{{i.nama}}</td>
                <td>{{i.pasal}}</td>
                <td>{{i.hukuman}}</td>
                <td>{{i.prisoner_status}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}