{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>SUKAMISKIN</title>
</head>

<body>
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Input Pegawai</h1>
                <p class="lead">Lapas Kelas I Sukamiskin</p>
                <hr class="my-4">
                <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{form.employee_fullname|as_crispy_field}}
                    {{form.employee_mobile|as_crispy_field}}
                    <div class="row">
                        <div class="col-md-4">
                            {{form.employee_code|as_crispy_field}}
                        </div>
                        <div class="col-md-8">
                            {{form.employee_position|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i
                                    class="fas fa-database"></i>
                                Submit</button>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                                <i class="fas fa-stream"></i> Kembali ke List
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>